/* APP  */
#clockapp{
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: center;

    padding: 3%;
}
/* Mensage  */
#clockapp h4{
    margin: 2% 0;
}
/* Hora y fecha  */
#timer{
    display: flex;
    flex-direction: row;

    width: 100%;


}

#timer *{
    margin-bottom: 0;
}
#timer h2{
    margin: 0;

    color: whitesmoke;
}
#timer h4{
    margin: auto auto 0 3%;
}

/* Nav button */
#bclockapp{
    background-image: url("/assets/icons/clock.png");
}