#clockapp{
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: center;

    padding: 3%;
}

#timer{
    display: flex;
    flex-direction: row;

    width: 100%;


}

#timer *{
    margin-bottom: 0;
}
#timer h4{
    margin: auto auto 0 3%;
}
