/* APP */
#links{
    display: flex;
    flex-direction: column;

    padding: 0 3% 3%;
}


/* Añadir link */
#links div{
    display: flex;  
}
#linkname{
    width: 30%;

    text-align: center;
}
#linkurl{
    width: 70%;

    text-align: center;
}


/* Lista links */
#links li{
    list-style: none;

    display: flex;
    justify-content:space-between ;

    width: 100%;
    
}

/*Nombres de link largos*/
.etcDiv{
    max-width: 30%;

}
.etcDiv a{
    overflow:hidden;
}
.etcDiv:hover{
    overflow:visible;
    overflow-wrap: break-word;
}
/* Span puntitos */
.etcDots{
    font-weight: bolder;
    margin: auto 0;
}
.etcDiv:hover .etcDots{
    display: none;
}

/* Nav button */
#blinks{
    background-image: url("/assets/icons/links.png");
}