/* APP */
#metoro{
    display: flex;
    flex-direction: column;

    padding: 1%;
}
#metorologia{
    display: flex;
    flex-wrap: wrap;

    position: relative;

    margin: 3%;
}
/*Input ciudad*/
#slectCity input{
    height: fit-content;
}

/* Titulo ciudad */
#climaTitle{
    display: flex;
    height: fit-content;

    position: absolute;
    right: 10%;
}
#climaTitle *{
    margin: 30% auto auto;
}
#climaTitle img{
    position: absolute;
    z-index: -1;

    margin: 0 auto auto;
}

/* Clima actual */
/* #climaActual{

} */
#climaActual h3,h4{
    margin: 0;
}



/* Clima previsto */
#climaPrevision{
    display: flex;

    overflow: auto;

    margin-top: 3%;
}

.horaprev{
    width: 10%;

    padding: 2%;

    font-size: small;
}

/* Nav button */
#bmetoro{
    background-image: url("../assets/icons/metoro.png");
}



/* Resposividad */
@media (max-width:600px){
    #metoro{
        padding: 3%
    }


    #climaTitle, #climaTitle img{
        position: relative;
    }
    #climaTitle{
        flex-direction: column;
        margin: auto;
        right: 0;
    }
    #climaTitle *{
        margin: 0;
    }

    .horaprev{
        width: 20%;

        border-top: .1em solid cornflowerblue;
        border-bottom: .1em solid cornflowerblue;
        border-radius: .5em;
    }
    .horaprev p{
        font-size:xx-small;
    }
}