/* APP */
#pswrdapp{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 3%;
}

/* Contraseña generada */
#paswd{
    width: 95%;

    padding: 15% 3%;

    overflow-wrap: anywhere;
    text-align: center;
}
/* Nav button */
#bpswrdapp{
    background-image: url(../assets/icons/paswd.png);
}